In [1]:
import json
import bz2
import sys
import os
import numpy as np
import pandas as pd
import networkx as nx
import networkx.algorithms.community as community
from chart_studio import plotly
from plotly.offline import iplot
import plotly.graph_objs as go
from collections import Counter
import matplotlib.pyplot as plt
import seaborn as sns

In [198]:
#possible plot
import plotly.express as px
#df = px.data.gapminder().query("year == 2007")
#fig = px.line_geo(df, locations="country",locationmode='country names', # default 'world').) â€“ One of 'world', 'usa', 'europe', 'asia', 'africa', 'north america', or 'south america'`Default is `'world' unless projection is set to 'albers usa', which forces 'usa'.
#                  color="continent",#,scope = "usa", # "continent" is one of the columns of gapminder
#                  projection="natural earth") #aitoff,orthographic,equirectangular,natural earth

#fig.update_geos(
#    visible=True, resolution=110, scope="world",
#    showcountries=True, countrycolor="Black",
#    showsubunits=True, subunitcolor="Blue"
#)
#fig.show()

In [102]:
df.head(20)

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
11,Afghanistan,Asia,2007,43.828,31889923,974.580338,AFG,4
23,Albania,Europe,2007,76.423,3600523,5937.029526,ALB,8
35,Algeria,Africa,2007,72.301,33333216,6223.367465,DZA,12
47,Angola,Africa,2007,42.731,12420476,4797.231267,AGO,24
59,Argentina,Americas,2007,75.320,40301927,12779.379640,ARG,32
71,Australia,Oceania,2007,81.235,20434176,34435.367440,AUS,36
83,Austria,Europe,2007,79.829,8199783,36126.492700,AUT,40
95,Bahrain,Asia,2007,75.635,708573,29796.048340,BHR,48
107,Bangladesh,Asia,2007,64.062,150448339,1391.253792,BGD,50
119,Belgium,Europe,2007,79.441,10392226,33692.605080,BEL,56
131,Benin,Africa,2007,56.728,8078314,1441.284873,BEN,204
143,Bolivia,Americas,2007,65.554,9119152,3822.137084,BOL,68
155,Bosnia and Herzegovina,Europe,2007,74.852,4552198,7446.298803,BIH,70
167,Botswana,Africa,2007,50.728,1639131,12569.851770,BWA,72
179,Brazil,Americas,2007,72.390,190010647,9065.800825,BRA,76
191,Bulgaria,Europe,2007,73.005,7322858,10680.792820,BGR,100
203,Burkina Faso,Africa,2007,52.295,14326203,1217.032994,BFA,854
215,Burundi,Africa,2007,49.580,8390505,430.070692,BDI,108
227,Cambodia,Asia,2007,59.723,14131858,1713.778686,KHM,116
239,Cameroon,Africa,2007,50.430,17696293,2042.095240,CMR,120

In [2]:
#plot only USA and then check for global ...

quotes_mapped='quotebank_politicians_USA_mapped.json.bz2'
WIKI_DATA_FILTERED='filtered_politician_labeled_us_v3.json.bz2' #catalogue containing all US politician

df_full=pd.read_json(quotes_mapped, lines=True)
catalogue_df=pd.read_json(WIKI_DATA_FILTERED, lines=True)
catalogue_df.head(3)

,qid,name,gender,nationality,aliases,parties,positions held,religion,us_congress_id,candidacy_election,State
0,Q207,George W. Bush,male,Q30,"[George Walker Bush, Bush Jr., Dubya, GWB, Bus...",[Republican Party],"[[Governor of Texas, [+1995-01-17T00:00:00Z]],...",Q329646,,"[2000 United States presidential election, 200...",Texas
1,Q4496,Mitt Romney,male,Q30,"[Willard Mitt Romney, Pierre Delecto]",[Republican Party],"[[Governor of Massachusetts, [+2003-01-02T00:0...",Q42504,R000615,"[2012 Republican Party presidential primaries,...",Massachusetts
2,Q11124,Stephen Breyer,male,Q30,[Stephen Gerald Breyer],[Democratic Party],[[Associate Justice of the Supreme Court of th...,Q9268,,[],None

In [3]:
df_full.head(3)

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase,mentions,mentions_qids
0,2020-02-07-012379,but [ President ] Trump (was) eager to make a ...,President Donald Trump,[Q22686],2020-02-07 23:05:05,1,"[[President Donald Trump, 0.5698], [None, 0.43...",[http://uspolitics.einnews.com/article/5092030...,E,[11746],[Q22686]
1,2020-01-29-019304,"Even if it's all true, exactly in the worst-ca...",Kevin Cramer,[Q3957020],2020-01-29 01:01:16,1,"[[Kevin Cramer, 0.8789], [None, 0.1072], [John...",[https://www.washingtonexaminer.com/opinion/go...,E,"[23467, 23473, 41263]","[Q6279, Q311269]"
2,2020-01-02-019876,I enjoy your analysis and instruction on polli...,Steve Bartlett,[Q185480],2020-01-02 00:00:00,1,"[[Steve Bartlett, 0.9232], [None, 0.0754], [Pr...",[http://feeds.foxnews.com/~r/foxnews/politics/...,E,"[11746, 11751]",[Q22686]

In [4]:
df=df_full[['quoteID','qids','mentions_qids','speaker']] #extract info of quotations taking only USA politicians mentions of USA politician in the US catalogue
#df=df.loc[:500,:]
men_df=pd.DataFrame()
for i,row in df.iterrows():
    if row.qids[0] in catalogue_df.qid.values:
        for mention_qid in row.mentions_qids:
            if mention_qid in catalogue_df.qid.values:
                mention=pd.Series([row.quoteID,row.qids[0],mention_qid,row.speaker])
                men_df=men_df.append(mention,ignore_index=True)
                if i %10000==0: print(i)
men_df.rename(columns={0:'quoteID',1:'qid',2:'mention_qid',3:'speaker'},inplace=True)
print(men_df.head())
print(f'men_df shape {men_df.shape}')

0
10000
20000
             quoteID       qid mention_qid                 speaker
0  2020-02-07-012379    Q22686      Q22686  President Donald Trump
1  2020-01-29-019304  Q3957020       Q6279            Kevin Cramer
2  2020-01-29-019304  Q3957020     Q311269            Kevin Cramer
3  2020-01-02-019876   Q185480      Q22686          Steve Bartlett
4  2020-01-27-036296     Q6279       Q6279               Joe Biden
men_df shape (31669, 4)

In [44]:
#add state of reference (for world different )
#state_speaker = catalogue_df[catalogue_df['qid']==men_df['qid']]
#state_mention = catalogue_df[catalogue_df['qid']==men_df.mention_qid]
#men_df['speak_state']= catalogue.iloc['qid']

States=[catalogue_df.loc[catalogue_df.qid == qid, 'State'].item() for qid in men_df.qid]
States

AttributeError: 'list' object has no attribute 'head'

In [52]:
State_metionned= [catalogue_df.loc[catalogue_df.qid == qid, 'State'].item() for qid in men_df.mention_qid]

In [56]:
men_df['State']= States
men_df['State_mention']= State_metionned
men_df.head(10)

,quoteID,qid,mention_qid,speaker,State,State_mention
0,2020-02-07-012379,Q22686,Q22686,President Donald Trump,None,None
1,2020-01-29-019304,Q3957020,Q6279,Kevin Cramer,None,None
2,2020-01-29-019304,Q3957020,Q311269,Kevin Cramer,None,None
3,2020-01-02-019876,Q185480,Q22686,Steve Bartlett,None,None
4,2020-01-27-036296,Q6279,Q6279,Joe Biden,None,None
5,2020-04-09-027891,Q1124,Q1124,President Bill Clinton,Arkansas,Arkansas
6,2020-01-10-048465,Q6279,Q6279,Joe Biden,None,None
7,2020-01-23-056683,Q359442,Q6279,Bernie Sanders,Vermont,None
8,2020-01-25-036997,Q18209402,Q22686,Jennifer Palmieri,None,None
9,2020-02-03-087410,Q359442,Q22686,Bernie Sanders,Vermont,None

In [121]:
#drop the States one None ??
men_df2 = men_df.dropna()
men_df2.head(10)
len(men_df2)

2115

In [199]:
#for usa...
#fig = go.Figure(go.Scattergeo())
#fig.update_geos(
#    visible=True, resolution=110, scope="usa",
#    showcountries=True, countrycolor="Black",
#    showsubunits=True, subunitcolor="Blue"
#)
#fig.update_layout(height=300, margin={"r":0,"t":0,"l":0,"b":0})

#fig = px.line_geo(men_df2, locations=['State','State_mention'],locationmode='USA-states')#,scope = 'usa')#,projection="natural earth") # default 'world').) â€“ One of 'world', 'usa', 'europe', 'asia', 'africa', 'north america', or 'south america'`Default is `'world' unless projection is set to 'albers usa', which forces 'usa'.
                  #color="State")#,scope = "usa", # "continent" is one of the columns of gapminder
                  #projection="natural earth") #aitoff,orthographic,equirectangular,natural earth
#fig=go.Figure(go.Scattergeo(locations=men_df['State']))#,locationmode = 'USA-states'))
#fig.update_geos(
#    visible=True, resolution=110, scope="usa",
#    showcountries=True, countrycolor="Black",
#    showsubunits=True, subunitcolor="Blue"
#)
                  
#fig.update_layout(height=300, margin={"r":0,"t":0,"l":0,"b":0})
#fig.show()

In [79]:
men_df.head(10)

,quoteID,qid,mention_qid,speaker,State,State_mention
0,2020-02-07-012379,Q22686,Q22686,President Donald Trump,None,None
1,2020-01-29-019304,Q3957020,Q6279,Kevin Cramer,None,None
2,2020-01-29-019304,Q3957020,Q311269,Kevin Cramer,None,None
3,2020-01-02-019876,Q185480,Q22686,Steve Bartlett,None,None
4,2020-01-27-036296,Q6279,Q6279,Joe Biden,None,None
5,2020-04-09-027891,Q1124,Q1124,President Bill Clinton,Arkansas,Arkansas
6,2020-01-10-048465,Q6279,Q6279,Joe Biden,None,None
7,2020-01-23-056683,Q359442,Q6279,Bernie Sanders,Vermont,None
8,2020-01-25-036997,Q18209402,Q22686,Jennifer Palmieri,None,None
9,2020-02-03-087410,Q359442,Q22686,Bernie Sanders,Vermont,None

In [132]:
#plot for global ...

quotes_world='quotes_mentions_world_compact.json.bz2'
WIKI_DATA_FILTERED='filtered_politician_labeled_us_v3.json.bz2' #catalogue containing all US politician

df_world=pd.read_json(quotes_world, lines=True)
catalogue_df=pd.read_json(WIKI_DATA_FILTERED, lines=True)
catalogue_df.head(3)

,qid,name,gender,nationality,aliases,parties,positions held,religion,us_congress_id,candidacy_election,State
0,Q207,George W. Bush,male,Q30,"[George Walker Bush, Bush Jr., Dubya, GWB, Bus...",[Republican Party],"[[Governor of Texas, [+1995-01-17T00:00:00Z]],...",Q329646,,"[2000 United States presidential election, 200...",Texas
1,Q4496,Mitt Romney,male,Q30,"[Willard Mitt Romney, Pierre Delecto]",[Republican Party],"[[Governor of Massachusetts, [+2003-01-02T00:0...",Q42504,R000615,"[2012 Republican Party presidential primaries,...",Massachusetts
2,Q11124,Stephen Breyer,male,Q30,[Stephen Gerald Breyer],[Democratic Party],[[Associate Justice of the Supreme Court of th...,Q9268,,[],None

In [134]:
df_world.head(5)

,quoteID,quotation,speaker,qids,date,numOccurrences,phase,mentions,mentions_qids,urls,country
0,2015-07-24-075914,Prime Minister Modi recognizes the vital role ...,Michael R. Bloomberg,Q607,2015-07-24 15:56:32,1,E,[Narendra Modi],[Q1058],[businessfacilities.com],[India]
1,2015-09-24-093742,The growing reach of China's army of cyberwarr...,President Barack Obama,Q76,2015-09-24 13:50:51,2,E,[Xi Jinping],[Q15031],"[www.defenseone.com, defenseone.com]",[People's Republic of China]
2,2015-12-21-013885,deal with [ Putin ],Marco Rubio,Q324546,2015-12-21 00:00:00,1,E,[Vladimir Putin],[Q7747],[latinpost.com],[Russia]
3,2015-01-09-015364,free for eve... Girls basketball notebook: Rul...,President Barack Obama,Q76,2015-01-09 03:37:35,1,E,[Maithripala Sirisena],[Q6737124],[billingsgazette.com],[Sri Lanka]
4,2015-02-11-030684,I hope the president does see the value of let...,Madeleine Albright,Q174438,2015-02-11 18:35:22,1,E,"[Angela Merkel, Vladimir Putin]","[Q567, Q7747]",[breitbart.com],"[Germany, Russia]"

In [135]:
len(df_world)

26175

In [178]:
df1=df_world1[['date','qids','speaker','mentions_qids','mentions','country']] #extract info of quotations taking only USA politicians mentions of USA politician in the US catalogue
mentions_w_df=pd.DataFrame()
for i,row in df1.iterrows():
    for j,mention_qid in enumerate(row.mentions_qids):
        mention=pd.Series([row.date,row.qids,row.speaker,mention_qid,row.mentions[j],row.country[j]])
        mentions_w_df=mentions_w_df.append(mention,ignore_index=True)
        if i %10000==0: print(i)
mentions_w_df.rename(columns={0:'date',1:'date',1:'qid',2:'mention_qid',3:'mention_qid',4:'speaker',5:'country'},inplace=True)
print(mentions_w_df.head())
print(f'men_df shape {mentions_w_df.shape}')

0
10000
20000
                 date      qid             mention_qid mention_qid  \
0 2015-07-24 15:56:32     Q607    Michael R. Bloomberg       Q1058
1 2015-09-24 13:50:51      Q76  President Barack Obama      Q15031
2 2015-12-21 00:00:00  Q324546             Marco Rubio       Q7747
3 2015-01-09 03:37:35      Q76  President Barack Obama    Q6737124
4 2015-02-11 18:35:22  Q174438      Madeleine Albright        Q567

                speaker                     country
0         Narendra Modi                       India
1            Xi Jinping  People's Republic of China
2        Vladimir Putin                      Russia
3  Maithripala Sirisena                   Sri Lanka
4         Angela Merkel                     Germany
men_df shape (26702, 6)

In [184]:
mentions_w_df.head(10)

,date,qid,mention_qid,mention_qid,speaker,country
0,2015-07-24 15:56:32,Q607,Michael R. Bloomberg,Q1058,Narendra Modi,India
1,2015-09-24 13:50:51,Q76,President Barack Obama,Q15031,Xi Jinping,People's Republic of China
2,2015-12-21 00:00:00,Q324546,Marco Rubio,Q7747,Vladimir Putin,Russia
3,2015-01-09 03:37:35,Q76,President Barack Obama,Q6737124,Maithripala Sirisena,Sri Lanka
4,2015-02-11 18:35:22,Q174438,Madeleine Albright,Q567,Angela Merkel,Germany
5,2015-02-11 18:35:22,Q174438,Madeleine Albright,Q7747,Vladimir Putin,Russia
6,2015-03-05 14:56:34,Q22316,John Kerry,Q7747,Vladimir Putin,Russia
7,2015-01-26 15:26:52,Q76,President Barack Obama,Q1058,Narendra Modi,India
8,2015-02-22 00:00:00,Q10853588,Kamala Harris,Q7747,Vladimir Putin,Russia
9,2015-02-12 20:26:28,Q76,President Barack Obama,Q7747,Vladimir Putin,Russia

In [194]:
ex=mentions_w_df[mentions_w_df['country']=='The Gambia']
ex

,date,qid,mention_qid,mention_qid,speaker,country
4257,2016-12-05 21:00:00,Q22316,John Kerry,Q27917049,Adama Barrow,The Gambia

In [200]:
#Try plot
import plotly.express as px
fig = px.scatter_geo(mentions_w_df, locations="country",mode='lines', # default 'world').) â€“ One of 'world', 'usa', 'europe', 'asia', 'africa', 'north america', or 'south america'`Default is `'world' unless projection is set to 'albers usa', which forces 'usa'.
                  #color="continent",#,scope = "usa", # "continent" is one of the columns of gapminder
                  locationmode='country names', projection="natural earth") #aitoff,orthographic,equirectangular,natural earth


fig.update_geos(
    visible=True, resolution=110, scope="world",
    showcountries=True, countrycolor="Black",
    showsubunits=True, subunitcolor="Blue"
)
fig.update_layout(height=500, margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

TypeError: scatter_geo() got an unexpected keyword argument 'mode'

In [173]:
#separate them:

TypeError: The axis argument to unique is not supported for dtype object

In [164]:
len(df_world2)

169353

In [140]:
quotes_world2='quotes_mentions_world_flattened.json.bz2'
df_world2=pd.read_json(quotes_world2, lines=True)
df_world2.head(7)

,quoteID,quotation,speaker,qids,date,numOccurrences,phase,mentions_qids,mentions,country,urls
0,2015-07-24-075914,Prime Minister Modi recognizes the vital role ...,Michael R. Bloomberg,Q607,2015-07-24 15:56:32,1,E,[Q1058],[Narendra Modi],[India],[businessfacilities.com]
1,2015-09-24-093742,The growing reach of China's army of cyberwarr...,President Barack Obama,Q76,2015-09-24 13:50:51,2,E,[Q15031],[Xi Jinping],[People's Republic of China],[www.defenseone.com]
2,2015-09-24-093742,The growing reach of China's army of cyberwarr...,President Barack Obama,Q76,2015-09-24 13:50:51,2,E,[Q15031],[Xi Jinping],[People's Republic of China],[defenseone.com]
3,2015-12-21-013885,deal with [ Putin ],Marco Rubio,Q324546,2015-12-21 00:00:00,1,E,[Q7747],[Vladimir Putin],[Russia],[latinpost.com]
4,2015-01-09-015364,free for eve... Girls basketball notebook: Rul...,President Barack Obama,Q76,2015-01-09 03:37:35,1,E,[Q6737124],[Maithripala Sirisena],[Sri Lanka],[billingsgazette.com]
5,2015-02-11-030684,I hope the president does see the value of let...,Madeleine Albright,Q174438,2015-02-11 18:35:22,1,E,[Q567],[Angela Merkel],[Germany],[breitbart.com]
6,2015-02-11-030684,I hope the president does see the value of let...,Madeleine Albright,Q174438,2015-02-11 18:35:22,1,E,[Q7747],[Vladimir Putin],[Russia],[breitbart.com]